form {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  text-align: center;
  color: var(--brown);
  font-size: 30px;
}

#span {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#input {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--lightBrown);
  width: 70%;
}

input,
textarea {
  outline: none;
  border: 0px none;
  background-color: var(--lightBrown);
}

#buttonReseat {
  background: var(--white);
  border: 0;
  color: var(--brown);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  padding: 0.5rem;
  align-self: flex-end;
  margin-right: 16%;
  transition: transform 0.5s ease;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

#buttonReseat:hover {
  transform: scale(1.2);
}

#buttonConfirm {
  width: 3rem;
  height: 3rem;
  background: url("../../public/img/icons/confirmIconBlack.png") no-repeat
    center center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#buttonConfirm:hover {
  transform: scale(1.4);
}
